<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>Vagtplan Program</h1>
    <label for="">Email</label>
    <input type="text"name="Email" placeholder="Email">

    <br>
    <label for="">Password</label>
    <input type="text"name="Password" placeholder="Password">
    <br>

    <form action="/vagtansvarlig" method="get">
        <input type="submit"value="Log-In" class="btn btn">
    </form>
    <a href="/medarbejder" class="btn btn-ed">Medarbejder</a>
</div>

</body>
</html>