<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">

    <h2 th:text="${medarbejder.name}"></h2>

    <a href="/sevagtplan" class="btn1 btn-ed">Vagtplan</a>
    <br>
    <br>
    <a th:href="${'/opretforbehold?username='+medarbejder.username}" class="btn1 btn-create">Opret forbehold</a>
    <br>
    <br>
    <form action="/opdatermedarbejder" method="post">

        <br>
        <label for"">Brugernavn</label><br>
        <input type="text" th:value="${medarbejder.username}" name="username">

        <br>
        <label for="">Kodeord</label><br>
        <input type="text" name="password" th:value="${medarbejder.password}">

        <br>
        <label for="">Navn</label><br>
        <input type="text"name="name"th:value="${medarbejder.name}">

        <br>
        <label for="">Intialer</label><br>
        <input type="text"name="initialer"th:value="${medarbejder.initialer}">
        <br>

        <label for="">Telefonnummer</label><br>
        <input type="text"name="telefonnummer"th:value="${medarbejder.telefonnummer}">
        <br>

        <input type="submit"class="btn btn-create" value="Opdater">

    </form>
    <br>
    <h2>Forbehold</h2>
    <br>
    <table>
        <thead>
        <tr>
            <th>Dato</th>
            <th>Kommentar</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="forbehold : ${forbeholdsliste}">
            <td th:text="${forbehold.dato}"></td>
            <td th:text="${forbehold.kommentar}"></td>
            <td>
                <a href="/sevagtplan" class="btn btn-ed">Rediger</a>
                <a href="/sevagtplan" class="btn btn-del">Slet</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
</div>
</body>
</html>