<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <h1>Medarbejder Menu</h1>


    <form action="/sevagtplan"method="post">
        <input type="submit"value="Vagtplan" class="btn-create                              ">
    </form>

    <br>

    <form action="/opretforbehold"method="post">
        <input type="submit"value="Forbehold" class="btn-ed">
    </form>

    <br>


    <form action="/Rediger Oplysninger"method="post">
        <input type="submit"value="Rediger Oplysninger" class="btn-del">
    </form>
</div>
</body>
</html>