<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <h1>Tilføj Ny Medarbejder</h1>

    <form action="/opretmedarbejder" method="post">

        <label for="">Brugernavn (email)</label><br>
        <input type="text"name="username"placeholder="jytte@riddersalen.dk">
        <br>

        <label for="">Kodeord</label><br>
        <input type="text"name="password"placeholder="**********">
        <br>

        <label for="">Navn</label><br>
        <input type="name"name="name"placeholder="Navn">
        <br>

        <label for="">Initialer</label><br>
        <input type="name"name="initialer"placeholder="Initialer">
        <br>

        <label for="">Telefon</label><br>
        <input type="name"name="telefonnummer"placeholder="35353535">
        <br>

        <input type="submit"class="btn  btn-create" value="Tilføj">

    </form>

</div>
</body>
</html>