<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>Create Medarbejder</h1>

    <form action="/opretmedarbejder" method="post">

        <label for="">username</label><br>
        <input type="text"name="username"placeholder="abcd@123.com">

        <br>
        <label for="">password</label><br>
        <input type="text"name="password"placeholder="**********">
        <br>
        <label for="">name</label><br>
        <input type="name"name="cpr"placeholder="name">
        <br>
        <label for="">initialer</label><br>
        <input type="name"name="initialer"placeholder="initialer">
        <br>
        <label for="">telefonnummer</label><br>
        <input type="name"name="telefonnummer"placeholder="12345678">
        <br>

        <input type="submit"class="btn-create" value="SEND">

    </form>

</div>
</body>
</html>