<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>Forbehold</h1>
    <form method="post">

        <br>
        <label for="">Dato</label><br>
        <input type="date"name="dato"placeholder="Dato">
        <br>
        <label for="">Kommentar</label><br>
        <input type="text"name="kommentar"placeholder="Kommentar">
        <br>
        <br>
        <input type="submit" class="btn btn-create" value="Opret forbehold">

    </form>

</div>
</body>
</html>