<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forbeholdsliste</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>Forbehold</h1>

    <table>
        <thead>
        <tr>
            <th>username</th>
            <th>name</th>
            <th>initialer</th>
            <th>telefonnummer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="forbehold : ${forbeholdsliste}">
            <td th:text="${forbehold.fra}"></td>
            <td th:text="${forbehold.til}"></td>
            <td th:text="${forbehold.accepteretAfVagtansvarlig}"></td>
            <td th:text="${forbehold.kommentar}"></td>
            <td></td>
        </tr>

        </tbody>

    </table>
    <a href="/create" class="btn">Create</a>

</div>
</body>
</html>