<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container1">

    <h1>Medarbejdere</h1>

    <a  href="/opretmedarbejder" class="btn" >Tilføj ny medarbejder</a>
    <br>

    <table>

        <thead>
        <tr>
            <th>Brugernavn (email)</th>
            <th>Rolle</th>
            <th>Navn</th>
            <th>Initialer</th>
            <th>Telefon</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="medarbejder : ${medarbejderliste}">
            <td th:text="${medarbejder.username}"></td>
            <td th:text="${medarbejder.role}"></td>
            <td th:text="${medarbejder.name}"></td>
            <td th:text="${medarbejder.initialer}"></td>
            <td th:text="${medarbejder.telefonnummer}"></td>
            <td>
                <a th:href="${'/medarbejder?username='+medarbejder.username}" class="btn btn-details">Se mere...</a>
                <!--a href="/semedarbejdersforbeholdsliste" class="btn btn-ed">Se Forbeholdsliste</a>-->
                <a th:href="${'/opretforbehold?username='+medarbejder.username}" class="btn btn-ed">Opret forbehold</a>
                <a th:href="${'/sletmedarbejder?username='+medarbejder.username}" class="btn btn-del">Slet medarbejder</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>