<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">



    <h1>Personale</h1>

    <table>
        <thead>
        <tr>
            <th>username</th>
            <th>name</th>
            <th>initialer</th>
            <th>telefonnummer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medarbejder : ${medarbejderliste}">
            <td th:text="${medarbejder.username}"></td>
            <td th:text="${medarbejder.name}"></td>
            <td th:text="${medarbejder.initialer}"></td>
            <td th:text="${medarbejder.telefonnummer}"></td>
            <td></td>
        </tr>

        </tbody>

    </table>
    <a href="/create" class="btn">Create</a>

</div>
</body>
</html>