<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container1">
    <h1>Personale</h1>
    <table>
        <thead>
        <tr>
            <th>username</th>
            <th>password</th>
            <th>role</th>
            <th>navn</th>
            <th>intilaler</th>
            <th>Tlf</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medarbejder : ${medarbejderliste}">
            <td th:text="${medarbejder.username}"></td>
            <td th:text="${medarbejder.password}"></td>
            <td th:text="${medarbejder.role}"></td>
            <td th:text="${medarbejder.name}"></td>
            <td th:text="${medarbejder.initialer}"></td>
            <td th:text="${medarbejder.telefonnummer}"></td>
            <td><a th:href="${'/medarbejder?username='+medarbejder.username}" class="btn btn-details">Details</a>
                 <a href="/semedarbejdersforbeholdsliste" class="btn btn-ed">Se Forbeholdsliste</a>
                <a th:href="${'/opretforbehold?username='+medarbejder.username}" class="btn btn-create">Opret forbehold</a>
                <!--<a href="/deletemedarbejder" class="btn btn-del">Slet Medarbejder</a>-->

            </td>
        </tr>

        </tbody>

    </table>
    <a href="/opretmedarbejder" class="btn">Create</a>

</div>
</body>
</html>