<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <h1>Vagtbehov</h1>

    <table>

        <thead>
        <tr>
            <th>ID</th>
            <th>Fra</th>
            <th>Til</th>
            <th>Kommentar</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="vagtbehov : ${vagtbehov}">
            <td th:text="${vagtbehov.id}"></td>
            <td th:text="${vagtbehov.fra}"></td>
            <td th:text="${vagtbehov.til}"></td>
            <td th:text="${vagtbehov.kommentar}"></td>
            <td></td>
        </tr>
        </tbody>

    </table>

    <a href="/opretvagtbehov" class="btn">Opret vagtbehov</a>

</div>
</body>
</html>