<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <h1>Slet</h1>


    <h2>Er du sikker du vil slette?</h2>
    <p th:text="${medarbejder.username + ' ' + medarbejder.name}"> </p>


    <form action="/sletmedarbejder"method="post">
        <input type="hidden" th:value="${medarbejder.username}"name="username">
        <input type="submit"value="Ja" class="btn btn-del">
        <br>
        <br>
    </form>
    <form action="/semedarbejderliste"method="get">
        <input type="submit"value="Nej" class="btn btn-ed">
    </form>
</div>
<body>

</body>
</html>